/* Topbar style */
#topbar {
    width:100%;
    height:136.5px;
    background-color:black;
}
#trivia {
    width:600px;
}
#restart,#main-menu {
    color:white;
    font-size: 50px
}
#restart{
    margin-right:15px;
    width:160px
}
#main-menu{
    margin-left:15px
}
#restart:hover,#main-menu:hover {
    color:#C5C5C5;
    font-size: 52px;
    border: 2px solid #C5C5C5;
    border-radius: 10px;
    cursor: pointer;
}
#restart:hover{
    margin-left: -6.5px;
    margin-right: 9px;
    width:160px;
    padding-right: 3px
}
#main-menu:hover{
    margin-left:10px;
   
}
#topbar-content {
    margin-left:297px;
    width:1100px
}
.navbar-item {
    display: inline;
}
/* Body style */
body {
    background: url("../images/background.jpg");
    background-color:rgba(0, 0, 0, 0.5)
}
#push1 {
    height: 50px;
}
#choice {
    width:100%;
    background-color: black;
    color:white;
    font-size: 50px;
    border-radius: 20px;
    margin-top: 100px
}
#choice:hover {
    border: 2px #C5C5C5 solid;
    margin-top: -1px;
    color:#C5C5C5;
    margin-top: 100px
}
