/* Topbar style */
#topbar {
    width:100%;
    height:136.5px;
    background-color:black;
    opacity: 0.99
}
#trivia {
    width:600px;
    background-color: white
}
#trivia:hover {
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
}
#restart,#main-menu {
    color:white;
    font-size: 50px
}
#restart{
    margin-right:15px;
    margin-left: 105px;
}
#main-menu{
    margin-left:15px
}
#restart:hover,#main-menu:hover {
    color:red;
    font-size: 52px;
    border-radius: 10px;
    cursor: pointer;
}
#restart:hover{
    margin-right: 6.5px;
    margin-left: 105px;
    padding-right: 3px
}
#main-menu:hover{
    margin-left:10px;
}
#topbar-content {
    margin:0 auto;
    width: 1158px
}
.navbar-item {
    display: inline;
}
/* Body style */
body {
    background: url("../images/background.jpg");
}
#push1 {
    height: 50px;
}
#choice {
    width:100%;
    background-color: black;
    color:white;
    font-size: 50px;
    border-radius: 20px;
    margin-top: 100px
}
#choice:hover {
    border: 2px rgb(32, 19, 19) solid;
    margin-top: -1px;
    color: red;
    margin-top: 100px
}
